html,
body{
    background-color: bisque;
    margin: 0;
}

.static{
    border: 1px solid red;
    background-color: white;
    padding: 5px;
    position: static;
}

.relative1{
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    position: relative;
}

.relative2{
    border: 1px solid blue;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    width: 70vw;
    position: relative;
    left: 50px;
    top: -30px;
}

.fixed{
    border: 1px solid yellow;
    background-color: white;
    padding: 5px;
    position: fixed;
    width: 20vw;
    bottom: 0;
    right: 0;
}

.relative3{
    position: relative; 
    border: 1px solid orange;
    width:  65vw;
    height: 70vh;
    padding: 5px;
}

.absolute{
    border: 1px solid hotpink;
    width: 30vw;
    height: 40vh;
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 80%;
    left: 35%;
    line-height: 1;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
  } 



.relative3{
    position: relaive;
    border: 1px solid orange;
    width: 65vw;
    height: 50vh;
    padding: 5px;

    .absolute{
        border: 1 px solid hotpink;
    }

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

/*
============================================================================
Grid
============================================================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

<a class>="btn btn-alt">...</a>

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}

.hero {
    padding: 22px 80px 66px 80px;
}
.group:before,
.group:after, {
    content: "";
    dis
    play: table;
}
{
    .group:after {
        clear: both;
}
{
    .group {
        clear: both;
        zoom: 1;
}
<h1 class="logo">
    <a href="index.html"><img src="assets/images/logo-1.png" alt=
div {
    width: 400px;
}

div {
    height: 100px
}

div {
    padding: 20px;
}

div {
    margin: 20px;
}

div {
    margin: 10px 20px;
}

div {
    border: 6px solid #949599;
    
}

code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "source code pro", Inconsolate, "Lucida Console", Terminal, "courie new";
Courier;
    padding: 24px 15px;
    text-align: center;
}
header,
section,
aside,
footer {
    margin: 0 1.5px 24px 1.5px;
 }

section {
    float: left;
    width: 30%;
}
footer {clear: both;
    margin-bottom: 0;
}
 nav {
     background-color: black;
     display: flex;
     justify-content: space-around;
 }   



 a {
     color: #f0f0f0;
     text-decoration: none;
 }
 section {
     display: inline-block;
     margin: 0 1.5%;
     width: 30%;
 }

 html {
     font-size: large;
     font-family: arial, sans-serif;
 }